<app-header></app-header>

<ion-content class="ion-padding">
  
    
  <div>
    <ion-button (click)="volverALogin()" class="flecha-btn" color="warning" expand="">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
  </div><br><br>


      <app-main-title title="¿Olvidaste tu contraseña?" subtitle="Restablécela aquí" ></app-main-title>

      <div class="logeando">
        <ion-input [(ngModel)]="correoRecuperacion" label="Correo Electrónico" label-placement="floating" fill="outline" placeholder=""></ion-input>
      </div>
      <br>
      <ion-button (click)="verificarCorreoRecuperacion()" color="warning"class="boton-ingresar">Enviar</ion-button>
    
  
  <!-- <app-triangle></app-triangle> -->

</ion-content>

<ion-footer collapse="fade"></ion-footer>
