
.boton-ingresar {
  position: fixed;
  bottom: 80px;
  left: 50%; 
  transform: translateX(-50%);
  width: 180px; 
  padding: 10px 15px; 
  text-align: center;
  --background: #063779;
  text-transform: none;
  font-weight: bold;
  font-size: 16px;
}


.logeando{
  margin-top: 60px;

}

.p1 {
  font-family: sans-serif; 
  font-size: 13px; 
  margin-right: 289px; 
}

.p2 {
  font-family: sans-serif; 
  font-size: 13px; 
  margin-right: 253px; 
}
