ion-avatar{
    margin: auto;
    position: relative;
    background: rgb(138, 138, 138);
    width:  80px;
    height: 80px;
    border-radius: 50%;
    top: 15px;
    
  }
  
.tituloDivider{
    height: 60px;
    width: auto;
    font-weight: bold;
    font-size: 25px;
    color: white;
    bottom: -174px;
}

.item{
    font-weight: bold;
    color: black;
    top: -24px;
}

