<app-header></app-header>

<ion-content class="ion-padding">

  <!--Botón para volver al login-->
  <div>
    <ion-button (click)="volverALogin()" class="flecha-btn" color="warning" expand="">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-button>
  </div>
  
  <div class="ion-text-center">

     <!--Mensaje de Bienvenida y el nombre del usuario -->
    <app-main-title title="Generacion de QR" subtitle=""></app-main-title>

  </div>

  <!--<input type="text" [(ngModel)]="texto">
  <br><br>
  <qrcode [qrdata]="text" [width]="400"></qrcode>-->
</ion-content>